:root {
  --font-family: "Courier New", Courier, monospace, sans-serif, system-ui, -apple-system, "Segoe UI", "Roboto", "Ubuntu", "Cantarell", "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.container {
  padding: 0 calc(var(--pico-spacing) * 0.5);
}
header,
article,
main {
  padding: 0 !important;
  margin: 0;
}
.search input,
textarea,
.cookiesInfo {
  /* margin-bottom: 0; */
  margin-bottom: calc(var(--pico-spacing) * 0.5);
}
#request {
  width: 100%;
}

#cookiesStr {
  padding: 4px;
}
img {
  width: 32px;
}
.cookiesInfo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hidden {
  display: none;
}
