:root {
    --font-family: 'Courier New', Courier, monospace, sans-serif, system-ui, -apple-system, 'Segoe UI', 'Roboto', 'Ubuntu', 'Cantarell',
        'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    --block-spacing-vertical: calc(var(--spacing) * 1);
}
html,
body {
    width: 100%;
    height: 100%;
}
header {
    padding: 0 !important;
    /* margin-bottom: calc(var(--block-spacing-vertical) * -1); */
}
main {
    padding: 0 !important;
}
.nav {
    display: flex;
    margin: 0;
    padding: 8px;
    /* border-bottom: 1px solid; */
    justify-content: space-between;
    height: 32px;
}

.main,
.info {
    margin: 0;
}
.main .info {
    padding: 0;
    height: 32px;
    margin-bottom: calc(var(--spacing) * 1);
}

.main .info img {
    width: 32px;
    position: absolute;
}
.main .info span {
    display: inline-block;
    height: 32px;
    margin: auto;
    margin-left: 32px;
    padding-left: 16px;
    overflow-x: hidden;
    overflow-y: auto;
}
.search {
    display: flex;
    align-items: center;
    margin-bottom: calc(var(--spacing) * 1);
}
.search input {
    flex: 1 1 100%;
    width: 100%;
    height: 48px;
    padding: 5px;
    margin: 0;
    margin-right: 1px;
}
.search button {
    flex: 1 0 48px;
    height: 48px;
    width: 48px;
    margin: 0;
    padding: 0;
    background-image: var(--icon-search);
    /* background-color: white; */
    background-position: center;
    margin-left: 1px;
}
textarea {
    padding: 5px;
    margin-bottom: calc(var(--spacing) * 0.5);
}
.cookiesInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cookiesInfo div {
    flex-shrink: 0;
    flex-grow: 0;
    min-width: 54px;
}
.cookiesInfo button {
    /* width: 96px; */
    height: 32px;
    padding: 0;
    margin: 0;
    margin-left: 16px;
}
.hidden {
    display: none;
}
